
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;

}
.main-part{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
}
.left-info{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 50%;
}
.right-info{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 10%;
}
h1{
    margin: 0;
}
.right-info div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}