
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');


.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('./image/background.jpg');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
form{
    background-color: white;
    border: darkgrey 5px solid;
    padding: 10px;
    width: 30%;
    height: auto;
}
div{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
input:not([type="checkbox"]){
    border: none;
    text-align: center;
}
input:focus {
    outline: none;
}
h2{
    text-align: center;
}
hr{
    margin-bottom: 15px;
}
button{
    margin-top: 3px;
    padding: 7px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    background: linear-gradient(to bottom, lightgray, darkgrey);
    transition: background-color 0.3s, transform 0.3s;
}
button:hover{
    transform: scale(1.04);
}
.error{
    font-size:small;

    color: red;
}