.head{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    background-color: rgba(98,98,98,1);
    height: 50px;
}
ul{
   list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}
li{
    padding-right: 3px;
    margin-top: 5px;
}
.nav button{
    font-size: 10px;
}
.head img{
    width: 8%;
    height: 100%;
}
